.task-progress {
  width: 220px;
  margin: auto;
  text-align: center;
}

.task-progress p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

.green {
  color: #2ecc71; /* Green for progress completion */
}

.yellow {
  color: #f39c12; /* Orange for moderate progress */
}

.red {
  color: #e74c3c; /* Red for low progress */
}
